.header {
  display: flex;
  flex-direction: column;

  &__pictures {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px); // 100px = высота .top-bar
  }

  &__picture {
    cursor: pointer;

    position: relative;

    overflow: hidden;
    flex: 1;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &::after {
      pointer-events: none;
      content: "";

      position: absolute;
      z-index: 1;
      inset: 0;

      background-color: rgba(0, 0, 0, 0); // прозрачный

      transition: background-color 0.3s ease;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.25); // затемнение при наведении
    }
  }

  // Модификаторы типа
  &__picture--type-standart {
    background-image: url("../img/header-left-standart.svg");
  }

  &__picture--type-latin {
    background-image: url("../img/header-right-latin.svg");
  }

  &__label {
    pointer-events: auto;
    cursor: pointer;

    position: absolute;
    z-index: 2;
    bottom: 33%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 28px;
    font-weight: 600;
    color: $header-text-color;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 68px;
    }

    @include hover(transform, translateX(-50%) scale(1.2));
  }
}
