.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--menu {
    background-image: url(../img/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../img/icons/icon-burger-menu-hover.svg);

      @include hover(transform, scale(1.2));
    }
  }

  &--close {
    background-image: url(../img/icons/icon-close.svg);

    @include hover(transform, scale(1.2));
  }

  &--currency {
    background-image: url(../img/icons/icon-currency.svg);

    @include hover(transform, scale(1.2));
  }

  &--language {
    background-image: url(../img/icons/icon-language.svg);

    @include hover(transform, scale(1.2));
  }

  &--cart {
    background-image: url(../img/icons/icon-cart.svg);

    @include hover(transform, scale(1.2));
  }

  &--acount {
    background-image: url(../img/icons/icon-acount.svg);

    @include hover(transform, scale(1.2));

  }

  &--contact {
    background-image: url(../img/icons/icon-contact.svg);

    @include hover(transform, scale(1.2));

  }

  &--bag {
    background-image: url(../img/icons/icon-bag.svg);

    @include hover(transform, scale(1.2));

  }

  &--file-person {
    background-image: url(../img/icons/icon-file-person.svg);

    @include hover(transform, scale(1.2));

  }

  &--instagram {
    background-image: url(../img/icons/icon-instagram.svg);

    @include hover(transform, scale(1.2));
  }

  &--facebook {
    background-image: url(../img/icons/icon-facebook.svg);

    @include hover(transform, scale(1.2));
  }

  &--telegram {
    background-image: url(../img/icons/icon-telegram.svg);

    @include hover(transform, scale(1.2));
  }

  &--whatsapp {
    background-image: url(../img/icons/icon-whatsapp.svg);

    @include hover(transform, scale(1.2));
  }

  &--viber {
    background-image: url(../img/icons/icon-viber.svg);

    @include hover(transform, scale(1.2));
  }

  &--geo {
    background-image: url(../img/icons/icon-geo.svg);

    @include hover(transform, scale(1.2));
  }

  // &--arrow-down {
  //   background-image: url(../img/icons/arrow-down.svg);

  //   @include hover(transform, scale(1.2));

  //   width: 16px;
  //   height: 16px;
  //   margin-left: 4px;

  // }
}
