.main {
  // display: flex;
  // gap: 20px;
  // align-items: center;  // по центру вертикали
  // justify-content: space-between; // левый и правый блоки

  // @include content-padding-inline;

  // &__text {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center; // центрируем по высоте

  //   max-width: 45%;

  //   font-size: 24px;
  //   font-weight: bold;
  //   color: #fff;

  //   &--slogan {
  //     font-size: 38px;
  //     line-height: 1.5;
  //   }
  // }

  &__content {
    display: grid;
    row-gap: 92px;
    color: #000;

    @include on-tablet {
      row-gap: 120px;
    }
  }
}
