.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0;
    padding: $mobile-nav-padding;

    @include on-tablet {
      padding: $tablet-nav-padding;
    }

    list-style: none;
  }

  &__text {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;

      width: 100%;
      height: 1px;
      background-color: #000;

      transform-origin: left;
      transform: scaleX(0);
      transition: transform 0.3s;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;

    position: relative;

    font-size: 18px;
    line-height: 18px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;

    @include on-tablet {
      font-size: 30px;
      line-height: 30px;
    }

    &:hover .nav__text::after {
      transform: scaleX(1);
    }

    .icon {
      width: 20px;
      height: 20px;

      @include on-tablet {
        width: 26px;
        height: 26px;
      }
    }
  }

  &__black-line {
    width: 100%;
    height: 1px;
    background-color: black;
  }

  &__social {
    display: flex;
    gap: 26px;

    padding: $mobile-nav-padding;

    @include on-tablet {
      padding: $tablet-nav-padding;
    }
  }

  &__telephone {
    font-size: 20px;
    padding-left: 40px;

    @include on-tablet {
      padding-left: 45px;
    }

    transform-origin: left center; // масштабируем относительно левого центра

    @include hover(transform, scale(1.2));
  }

  &__place {
    display: flex;
    padding: 30 0 0 40px;

    .nav__text {
      font-size: 20px;  // здесь указываешь нужный размер
      line-height: 1.2; // если нужно, можно скорректировать межстрочный интервал
    }
  }
}
