$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$mobile-nav-padding: 40px;
$tablet-nav-padding: 45px;
$top-bar-background-color: linear-gradient(to bottom, #2E2E2E, #96928d);
$main-background-color: #d5c3a9;
$menu-background-color: linear-gradient(to bottom, #fcf6ed, #96928d);
$header-text-color: #fff;
$menu-text-color: #1d1d1d;

